@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #282828;
  color: #fff8e7;
  width: 100vw;
  overflow-x: hidden;
}

header {
  background-color: #232323;
  color: #fff8e7;
  height: 100px;
  width: 100vw;
  display: flex;
  flex-direction: col;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

header nav ul li a {
  font-size: 16px;
  text-decoration: none;
  color: #fff8e7;
  padding: 35px;
  letter-spacing: 1px;
  transition: 0.5s;
  text-transform: uppercase;
}

header nav ul li a:hover {
  color: #f0c929;
}

header nav .nav-logo img {
  width: 35px;
}

header nav .nav-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

header .logo {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
}

header .logo img {
  width: 90px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 25px;
}

main .main-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.main-header .card {
  background-image: url("./assets/mouse.png");
  color: #fff8e7;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
  justify-content: flex-end;
  box-shadow: inset rgb(0, 0, 0) -4px -140px 100px 50px;
  gap: 10px;
}

.main-header .card h3 {
  font-size: 2rem;
  font-weight: bold;
}

.main-header .card p {
  font-size: 1rem;
  font-weight: 300;
}

.main-header .card button {
  background-color: #f0c929;
  color: #282828;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s;
}

.main-header .card button:hover {
  background-color: #282828;
  color: #f0c929;
}

main .shop-cat {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  gap: 20px;
  width: 100%;
}

main .shop-cat .title h3 {
  font-size: 26px;
  font-weight: bold;
}

.title {
  color: #1d1d1d;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-image: url("./assets/Rectangle 4.png");
  padding: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.items-list {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  justify-content: flex-start;
  margin: auto;
  gap: 20px;
}

.item {
  position: relative;
  border-radius: 10px;
  width: 350px;
  height: 300px;
  display: flex;
  flex-direction: column-reverse;
  align-items: start;
  justify-content: flex-end;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}

.item:hover {
  transform: scale(1.01);
  cursor: pointer;
}

.item:hover .desc {
  box-shadow: inset rgb(0, 0, 0) -4px -1px 100px 50px;
}

.item:hover .image {
  opacity: 0.5;
}

.item .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
}

#item_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item .desc {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  color: #fff8e7;
  padding: 20px;
  box-shadow: inset rgba(0, 0, 0, 0.815) 0px -50px 100px 40px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-end;
  transition: 0.5s;
}

.teams-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.team {
  position: relative;
  border-radius: 10px;
  display: flex;
  flex-direction: column-reverse;
  align-items: start;
  justify-content: flex-end;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}

.team:hover {
  transform: scale(1.1);
  cursor: pointer;
}

footer {
  background-color: #232323;
  color: #fff8e7;
  height: 100px;
  width: 100vw;
  display: flex;
  flex-direction: col;
  align-items: center;
  justify-content: center;
  padding: 25px;
  margin-top: 20px;
}

.productcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  background: #000;
}