{% extends 'base.html.twig' %}

{% block title %}Our products{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/style.css" />
{% endblock %}
{% block body %}
<header>
    <div class="logo">
        <a href="/"><img src="/assets/Group 4.png" alt="" /></a>
    </div>
    <nav>
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/products">all product</a></li>
        <li><a href="/products/new">new releases</a></li>
        <li><a href="/about">about us</a></li>
    </ul>
    <div class="nav-logo">
        <a href="/login"><img src="/assets/user.png" alt="" /></a>
        <img src="/assets/grocery-store.png" alt="" />
    </div>
    </nav>
</header>
<main>
<div class="shop-cat">
    <div class="title">
        <h3>Our Product</h3>
    </div>
    <div class="items-list">
        {% if( products is empty ) %}
            <h1>No products found</h1>
        {% else %}
            {% for product in products %}
                <a href ="/product/show/{{product.id}}">
                    <div class="item">
                        <div class="image">
                            <img src="/uploads/{{product.image}}" alt="hello" id="item_img" />
                        </div>
                        <div class="desc"><h3>{{product.nom}}</h3> <p>${{product.prix}}</p></div>
                    </div>
                </a>
            {% endfor %}
        {% endif %}
    </div>
</div>
</main>
<footer>
    <h2>@Copyright Halim Choukani L2 DSI 3</h2>
</footer>
{% endblock %}
