{% extends 'base.html.twig' %}

{% block title %}Acceuil !{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="style.css" />
{% endblock %}
{% block body %}
  <header>
            <div class="logo">
            <img src="assets/Group 4.png" alt="" />
            </div>
            <nav>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/products">all product</a></li>
                <li><a href="/about">about us</a></li>
            </ul>
            <div class="nav-logo">
                <a href="/login"><img src="assets/user.png" alt="" /></a>
                <img src="assets/grocery-store.png" alt="" />
            </div>
            </nav>
  </header>
  <main>
    <div class="main-header">
      <div class="card mouses">
        <h3>Mouses</h3>
        <p>Most used by ESports teams</p>
        <a href="/products/mouses"><button>See More</button></a>
      </div>
      <div class="card keyboards">
        <h3>Keyboards</h3>
        <p>Most used by ESports teams</p>
        <a href="/products/keyboards  "><button>See More</button></a>

      </div>
    </div>
    <div class="shop-cat">
      <div class="title">
        <h3>Shop By Categorie</h3>
      </div>
      <div class="items-list">
        <a href="/products/mouses">
          <div class="item mouses">
            <div class="desc"><h3>Mouses</h3></div>
          </div>
        </a>
        <a href="/products/keyboards">
          <div class="item keyboards">
            <div class="desc"><h3>Keyboards</h3></div>
          </div>
        </a>
        <a href="/products/headsets">
          <div class="item headsets">
            <div class="desc"><h3>Headsets</h3></div>
          </div>
        </a>
        <a href="/products/screens">
          <div class="item screens">
            <div class="desc"><h3>Screens</h3></div>
          </div>
        </a>
        <a href="/products/mousepads">
          <div class="item mousepads">
            <div class="desc"><h3>Mouse Pads</h3></div>
          </div>
        </a>
      </div>
    </div>
    <div class="shop-cat">
      <div class="title">
        <h3>New Product</h3>
      </div>
      <div class="items-list">
        {% if( products is empty ) %}
            <h1>No products found</h1>
        {% else %}
            {% for product in products %}
                <a href ="/product/show/{{product.id}}">
                    <div class="item">
                        <div class="image">
                            <img src="/uploads/{{product.image}}" alt="hello" id="item_img" />
                        </div>
                        <div class="desc"><h3>{{product.nom}}</h3> <p>${{product.prix}}</p></div>
                    </div>
                </a>
            {% endfor %}
        {% endif %}
      </div>
    </div>
    <div class="shop-cat">
      <div class="title">
        <h3>Our Team</h3>
      </div>
      <div class="teams-list">
        <div class="team">
          <div class="image">
            <img src="assets/team.png" alt="" />
          </div>
        </div>
        <div class="team">
          <div class="image">
            <img src="assets/team.png" alt="" />
          </div>
        </div>
        <div class="team">
          <div class="image">
            <img src="assets/team.png" alt="" />
          </div>
        </div>
        <div class="team">
          <div class="image">
            <img src="assets/team.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <h2>@Copyright Halim Choukani L2 DSI 3</h2>
  </footer>
{% endblock %}
