{% extends 'base.html.twig' %}

{% block title %}Acceuil !{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="style.css" />
{% endblock %}
{% block body %}
  
  <main>
    <div class="main-header">
      <div class="card">
        <h3>E Sports Mouse</h3>
        <p>Used By Pros</p>
        <button><a href="add/311">Ajouter au panier</a></button>
      </div>
      <div class="card">
        <h3>E Sports Mouse</h3>
        <p>Used By Pros</p>
        <button><a href="add/5444">Ajouter au panier</a></button>
      </div>
    </div>
    <div class="shop-cat">
      <div class="title">
        <h3>Shop By Categorie</h3>
      </div>
      <div class="items-list">
        <div class="item">
          <div class="image">
            <img src="assets/mouse.png" alt="" />
          </div>
          <div class="desc"><h3>Mouse</h3></div>
        </div>
        <div class="item">
          <div class="image">
            <img src="assets/mouse.png" alt="" />
          </div>
          <div class="desc"><h3>Keyboard</h3></div>
        </div>
        <div class="item">
          <div class="image">
            <img src="assets/mouse.png" alt="" />
          </div>
          <div class="desc"><h3>Headset</h3></div>
        </div>
        <div class="item">
          <div class="image">
            <img src="assets/mouse.png" alt="" />
          </div>
          <div class="desc"><h3>Mouse Pad</h3></div>
        </div>
      </div>
    </div>
    <div class="shop-cat">
      <div class="title">
        <h3>New Product</h3>
      </div>
      <div class="items-list">
        <div class="item">
          <div class="image">
            <img src="assets/mouse.png" alt="" />
          </div>
          <div class="desc"><h3>Mouse</h3></div>
        </div>
        <div class="item">
          <div class="image">
            <img src="assets/mouse.png" alt="" />
          </div>
          <div class="desc"><h3>Keyboard</h3></div>
        </div>
        <div class="item">
          <div class="image">
            <img src="assets/mouse.png" alt="" />
          </div>
          <div class="desc"><h3>Headset</h3></div>
        </div>
        <div class="item">
          <div class="image">
            <img src="assets/mouse.png" alt="" />
          </div>
          <div class="desc"><h3>Mouse Pad</h3></div>
        </div>
      </div>
    </div>
    <div class="shop-cat">
      <div class="title">
        <h3>Our Team</h3>
      </div>
      <div class="teams-list">
        <div class="team">
          <div class="image">
            <img src="assets/team.png" alt="" />
          </div>
        </div>
        <div class="team">
          <div class="image">
            <img src="assets/team.png" alt="" />
          </div>
        </div>
        <div class="team">
          <div class="image">
            <img src="assets/team.png" alt="" />
          </div>
        </div>
        <div class="team">
          <div class="image">
            <img src="assets/team.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <h2>@Copyright Halim Choukani L2 DSI 3</h2>
  </footer>
{% endblock %}
